body {
    width: 100%;
}

main {
    max-width: 1240px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
ul {
    list-style-type: none;
    padding: 0;
}
#header {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

#searchs__wrapper,
#search__tags__wrapper {
    width: 100%;
    margin-top: 17px;
}
#search__tags__wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

#search__bar__wrapper {
    width: inherit;
    position: relative;
}

#search__bar__icon {
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}

#search__bar {
    width: inherit;
    height: 70px;
    border-radius: 5px;
    padding-left: 24px;
    background-color: #E7E7E7;
    border: none;
}

#search__bar::placeholder {
    font-size: 18px;
}

.search__tag {
    position: relative;
    text-decoration: none;
    width: 170px;
    height: 70px;
    background-color: #68D9A4;
    display: flex;
    justify-content: start;
    padding-left: 15px;
    margin-right: 20px;
    align-items: center;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.search__tag:first-child {
    background-color: #3282F7;
}

.search__tag:last-child {
    background-color: #ED6454;
}

.search__tag__arrow {
    position: absolute;
    right: 30px;
    top: 30px;

}