body {
    width: 100%;
}

main {
    max-width: 1240px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}

#searchs__wrapper {
    width: 100%;
    margin-top: 17px;
}

#search__bar__wrapper {
    width: inherit;
    position: relative;
}

#search__bar__icon {
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}

#search__bar {
    width: inherit;
    height: 70px;
    border-radius: 5px;
    padding-left: 24px;
    background-color: #E7E7E7;
    border: none;
}

#search__bar::placeholder {
    font-size: 18px;

}